.bt{
    margin-left: 0;
}
.menyu{
    float: left;
    margin-top: 0;
}
.dropbtn{
    background-color: #c5c6d0;
    text-transform: revert;
    font-size: 16px;
    border: none;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{background-color: #ddd;text-decoration: underline; color: red; font-size: 20px; font-family: Agency FB}
.dropdown:hover .dropdown-content{display: block; margin-left: 30px; margin-top: -30px; }
.dropdown:hover .dropbtn{background-color: #7f7d9c;float: right;}

html {
    height:100%;
}

body {
    margin:0;
}

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #7f7d9c 50%, #faf9f6 50%, #89cff0 100%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}

.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}

.bg3 {
    animation-duration:5s;
}

@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
    100% {
        transform:translateX(25%);
    }
}

header{
    margin-top: 20px;
    font-weight: 500;
    word-spacing: 20px;
    font-family: Agency FB;
    font-size: 30px;
    background-color: #ddd;
}
#aug{
    width: 600px;
    font-size: 18px;
    margin-left: 25px;
    border-radius:5px;
}

#agast{
    border-radius: 5px;
    float: left;
}
span{
    font-size: 28px;
}
#skul{
    width: 715px;
    float: right;
    justify-content: center;
    margin-top: -515px;
    font-size: 18px;

}
table{
    width: 715px;
    float: right;
    border-collapse: collapse;
    margin-top: -370px;
    border-color: #7f7d9c;
    font-size: 18px;
}


.container
{
    width: 715px;
    height: 310px;
    float: right;
    margin-top: -300px;
    margin-right: 20px;
}
.trans
{
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
}
.top
{
    display: flex;
    width: 715px;
    height: 310px;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
}
.top ul
{
    list-style: none;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-sizing: border-box;
}
.top ul li
{
    position: relative;
    float: left;
    width: 25%;
    height: 25%;
    overflow: hidden;
}

.top ul li::before
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    content: '';
    color: white;
    opacity: 0.4;
    text-align: center;
    box-sizing: border-box;
    pointer-events: none;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}
.top ul li:hover::before
{
    opacity: 0;
    background-color: rgba(0,0,0,0.90);
}
.top ul li img
{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.lightbox
{
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.75);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
}
.lightbox img
{
    max-width: 90%;
    max-height: 80%;
    position: relative;
    top: -100%;
    /* Transition */
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
}
.lightbox:target
{
    outline: none;
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 1.2s ease;
    -moz-transition: all 1.2s ease;
    -ms-transition: all 1.2s ease;
    -o-transition: all 1.2s ease;
    -webkit-transition: all 1.2s ease;
}
.lightbox:target img
{
    top: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
section{
    margin-top: -20px;
    margin-left: 2000px;
}
h1 {
    color: #333;
    font-family: tahoma, fantasy;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    width: 500px;
}

h1 span {
    font-size: 40px;
}

.message {
    color: #333;
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 230px;
    animation: openclose 10s ease-in-out infinite;
}
.word1, .word2, .word3{
    font-family: tahoma;
}

@keyframes openclose {
    0% {
        top: 0.2rem;
        width: 0;
        color: #7cff75;
    }
    5% {
        width: 0;
    }
    15% {
        width: 230px;
        color: darkred;
    }
    30% {
        top: 0.2rem;
        width: 230px;
        color: #301934;
    }
    33% {
        top: 0.2rem;
        width: 0;
    }
    35% {
        top: 0.2rem;
        width: 0;
    }
    38% {
        top: -4.5rem;

    }
    48% {
        top: -4.5rem;
        width: 190px;
        color: #fc44ed;
    }
    62% {
        top: -4.5rem;
        width: 190px;
        color: darkgoldenrod;
    }
    66% {
        top: -4.5rem;
        width: 0;
        text-indent: 0;
    }
    71% {
        top: -9rem;
        width: 0;
        text-indent: 5px;
    }
    86% {
        top: -9rem;
        width: 285px;
    }
    95% {
        top: -9rem;
        width: 285px;
    }
    98% {
        top: -9rem;
        width: 0;
        text-indent: 5px;
    }
    100% {
        top: 0;
        width: 0;
        text-indent: 0;
    }
}

