.bt{
    margin-left: 0;
}
.menyu{
    float: left;
    margin-top: 47px;
}
.dropbtn{
    background-color: #d47d;
    color: black;
    text-transform: revert;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{background-color: #ddd;text-decoration: underline; color: red; font-size: 20px; font-family: Agency FB}
.dropdown:hover .dropdown-content{display: block; margin-left: 30px; margin-top: -30px;border-radius: 5px }
.dropdown:hover .dropbtn{background-color: #ddd;float: right;}
.skulname{
    float: right;
    font-family: "Agency FB", serif;
    width: 650px;
    height: auto;
    margin-top: 60px;
    font-size: 70px;
    word-break: break-word;
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes slidein {
    from {
        margin-right: 100px;

    }
    to{
        margin-right: 0;
    }
    0%{color: #8b0000}
    25%{color: #301934}
    50%{color: #d90166}
    75%{color: #301934}
    100%{color: #8b0000}
}
.logo{
    margin-top: 30px;
    margin-left: 50px;
}
header{
    height: 350px;
    margin-top: -100px;
}
#motto{
    width: 455px;
}
div div p{
    margin-left: 50px;
    font-family: "JetBrains Mono";
    font-size: 28px;
}
h3{
    font-weight: 200;
    font-family: Consolas,monospace;
}

body {
    margin:0;
}

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #7f7d9c 50%, #faf9f6 50%, #89cff0 100%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}

.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}

.bg3 {
    animation-duration:5s;
}

.content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
}

h1 {
    font-family:monospace;
}

@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
    100% {
        transform:translateX(25%);
    }
}

#history{
    width: 800px;
    word-break: break-word;
    float: right;
    position: relative;
    margin-top: -330px;
    border-radius: 5px;
}
div div h3{
    font-weight: 900;
}
section{
    margin-top: -20px;
}
h1 {
    color: #333;
    font-family: tahoma, fantasy;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    width: 500px;
}

h1 span {
    font-size: 40px;
}

.message {
    color: #333;
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 230px;
    animation: openclose 10s ease-in-out infinite;
}
.word1, .word2, .word3{
    font-family: tahoma;
}

@keyframes openclose {
    0% {
        top: 0.2rem;
        width: 0;
        color: #7cff75;
    }
    5% {
        width: 0;
    }
    15% {
        width: 230px;
        color: darkred;
    }
    30% {
        top: 0.2rem;
        width: 230px;
        color: #301934;
    }
    33% {
        top: 0.2rem;
        width: 0;
    }
    35% {
        top: 0.2rem;
        width: 0;
    }
    38% {
        top: -4.5rem;

    }
    48% {
        top: -4.5rem;
        width: 190px;
        color: #fc44ed;
    }
    62% {
        top: -4.5rem;
        width: 190px;
        color: darkgoldenrod;
    }
    66% {
        top: -4.5rem;
        width: 0;
        text-indent: 0;
    }
    71% {
        top: -9rem;
        width: 0;
        text-indent: 5px;
    }
    86% {
        top: -9rem;
        width: 285px;
    }
    95% {
        top: -9rem;
        width: 285px;
    }
    98% {
        top: -9rem;
        width: 0;
        text-indent: 5px;
    }
    100% {
        top: 0;
        width: 0;
        text-indent: 0;
    }
}
.anau{
    font-family: Agency FB;
    font-size: 20px;
    width: 200px;
    border: none;
    text-align: center;
    z-index: 2;
}


.katara{
    float: right;
    width: 1150px;
    display: block;
    height: 20px;
    border: none;
    margin-top: -45px;
    font-size: 20px;
    white-space: nowrap;
}
.katz{
    display: inline-flex;
    animation: slidz 15s linear reverse infinite;
}
@keyframes slidz {
    0%{margin-right: 10px}
    10%{margin-right: 115px; }
    20%{margin-right: 230px; }
    30%{margin-right: 345px; }
    40%{margin-right: 460px; }
    50%{margin-right: 575px; }
    60%{margin-right: 690px; }
    70%{margin-right: 805px; }
    80%{margin-right: 920px; }
    90%{margin-right: 1035px; }
    100%{margin-right: 1150px;}
}

