body {
    margin:0;
}

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #7f7d9c 50%, #faf9f6 50%, #89cff0 100%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}

.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}

.bg3 {
    animation-duration:5s;
}

.content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
}

h1 {
    font-family:monospace;
}

@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
    100% {
        transform:translateX(25%);
    }
}


.bt{
    margin-left: 0;
}
.menyu{
    float: left;
    margin-top: 0;
}
.dropbtn{
    background-color: #c5c6d0;
    text-transform: revert;
    font-size: 16px;
    border: none;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{background-color: #ddd;text-decoration: underline; color: darkred; font-size: 20px; font-family: Agency FB}
.dropdown:hover .dropdown-content{display: block; margin-left: 30px; margin-top: -10px; }
.dropdown:hover .dropbtn{background-color: #7f7d9c;float: right;}

.skulname{
    font-size: 30px;
    background-image: url("bg1.png");
    width: 100%;
    height: 75px;
}
.butts{
    float: right;
    height: 40px;
    margin-right: 10px;
    margin-top: -31px;
    border: 2px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px ;
    font-family: Agency FB, Tahoma, serif;
    color: #2ad;
    font-size: 18px;
    background-color: #ddd
}
.tito{
    font-family: Agency FB, Tahoma, serif;
    color: #2ad;
}
